@model MovieBooking.MVC.UI.Models.PaymentModel
@{
    ViewBag.Title = "SelectSeats";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var day_select = ViewBag.day_select;
    var schedule_id = ViewBag.schedule_id;
    var selected_seats = ViewBag.selected_seats as List<MovieBooking.BLL.Entities.BookingItem>;
    bool selected = false;
    var seat_name = "";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.seat').click(function () {
            console.log('click');
            if ($(this).hasClass('seat-available')) {
                $(this).attr('src', '/images/seats/seat_selected.gif');
            }
            if ($(this).hasClass('seat-selected')) {
                $(this).attr('src', '/images/seats/seat_available.gif');
            }

            if ($(this).hasClass('seat-taken') == false) {
                $(this).toggleClass('seat-available');
                $(this).toggleClass('seat-selected');

                refresh_selected_seats($(this).attr('name'), $(this));
            }

        });

        function refresh_selected_seats(seat_no, seat) {
            console.log(seat_no);
            console.log(seat);
            var seats = new Array();

            var i = 0;
            $('.seat-selected').each(function () {
                seats[i++] = $(this).attr('name');
            });

            var total = i;
            var hidden_element = $('.selected-hidden');
            var selected_seats_tb = $('#selected-seats-tb');
            hidden_element.html('');
            selected_seats_tb.val('');
            var tb_value = '';
            var price = $('#price-per-ticket').val();
            var total_price = $('#total-price-tb');
            hidden_element.append("<input type='hidden' name='selected-total' value='" + total + "'>");
            total_price_text = total * price;
            $('#total-price-tb').val(total_price_text);
            if (seats.length > 0) {

                var i = 0;

                for (i = 0; i < seats.length; i++) {
                    hidden_element.append("<input type='hidden' name='seats[" + i + "]' value='" + seats[i] + "'>");
                    tb_value += seats[i] + ",";
                }
                selected_seats_tb.val(tb_value);
                selected_seats_tb.attr('size', tb_value.length);
            }


            //            if (seat.hasClass('seat-selected')) {
            //                console.log(seat_no);
            //                var selected = $('#selected-seats');
            //                var selected_seats = selected.val();
            //                selected.val(selected_seats + ' ' + seat_no);
            //            }
        }

    });
</script>
<div class="page-header">
    <h1>
        Choose seats</h1>
</div>
@using (Html.BeginForm())
{
    
@Html.ValidationSummary(true, "Booking failed. Please enter valid credit card details")

 
    <input type='hidden' name='day_select' value=@day_select />
    <input type='hidden' name='schedule_id' value=@schedule_id />
    
   
 
    <table cellspacing="1" cellpadding="4" border="0">
        @for (char row = 'A'; row < 'L'; row++)
        {
            <tr>
                @for (int col = 0; col < 30; col++)
                {
                    seat_name = @row + "-" + @col;
                                                      
                    <td valign="top" nowrap>
                        @if (col == 0)
                        {
                            @row 
                        }
                        @if (col == 10 || col == 20 || col == 30)
                        {    
                            <img src=@Url.Content("~/images/seats/empty_space.gif") /> 
                        }
                        else
                        {
                            selected = false;
                            foreach (var seat in @selected_seats)
                            {

                                if (@seat.SeatNo.ToString().Equals(@seat_name))
                                {
                                    selected = true;
                                }
                            }

                            if (@selected.Equals(false))
                            {
                            <img src=@Url.Content("~/images/seats/seat_available.gif") class="seat seat-available" name=@seat_name /> 
                            }
                            else
                            {
                            <img src=@Url.Content("~/images/seats/seat_taken.gif") class="seat seat-taken" name=@seat_name /> 
                            }

                        }
                    </td>
                }
            </tr>  
    
        }
    </table>
    <div class='selected-hidden'>
    </div>
    
    <div class='clearfix'>
    </div>
    <p>
    </p>
    
    
    
    <div class='well'>
        <div class="editor-label">
          Card Type
        </div>

        <div class="editor-field">
         @Html.DropDownList("payment_mode_select", (IEnumerable<SelectListItem>)ViewBag.parameterList)
        </div>
       
        <div class="editor-label">
            @Html.LabelFor(m => m.CreditCardNum)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.CreditCardNum)

            @Html.ValidationMessageFor(m => m.CreditCardNum)
       </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.CreditCardExpiry)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.CreditCardExpiry)

            @Html.ValidationMessageFor(m => m.CreditCardExpiry)
           
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.CreditCardName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.CreditCardName)

            @Html.ValidationMessageFor(m => m.CreditCardName)
            
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.CVV)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.CVV)

            @Html.ValidationMessageFor(m => m.CVV)
           
        </div>
        @*    Credit Card Number :  <input type="text" name='credit-card-num' /> <br />
       Expiry Date (MM/YY) : <input type="text" name='credit-card-expiry' /> <br />
       Name as in Card : <input type="text" name='credit-card-name' /> <br />
       CVV : <input type="text" name='credit-card-cvv' /> <br />*@ 

      Selected Seats :
        <input type="text" name='selected-seats' id='selected-seats-tb' readonly />
        <br />
        Total Price :
        <input type="text" name='total-price' id='total-price-tb' disabled />
        <br />
        <input type="hidden" name='price-per-ticket' id='price-per-ticket' value='10' />
    
    </div>


    <div class='clearfix'>
    </div>
    
    <input type="submit" value="Book" class='btn btn-primary large' />
 

}
