@{
    ViewBag.Title = "Home Page";
}>
<form>
<h2>@ViewBag.Message</h2>
<p>
    @*To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.*@
</p>
<table width="900">
<tr>
@*<td><img  onclick="javascript:alert('New User');" src="../../images/Register.png" alt="New User" style="width="100px"; height="100px" /></td>
<td></td>*@
<td><a href="@Url.Action("Trailer", "Home")"><img src="../../images/video_film.png" alt="Trailer" style="width:100px; height:100px" /> </a> </td>
<td></td>
<td><a href="@Url.Action("Search", "Movie")"><img src="../../images/tickets-icon.png" alt="Buy Tickets" style="width:100px; height:100px" /></a></td>
<td></td>
<td><a href="@Url.Action("ContactUs", "Home")"><img src="../../images/people-icon.png" alt="Contact Us" style="width:100px; height:100px" /></a></td>
</tr>
<tr>
@*<td><p >Member Registration</p></td>
<td></td>*@
<td><p style="font-weight:bold"> Movie Trailer</p></td>
<td></td>
<td><p style="font-weight:bold"> Buy Ticket</p></td>
<td></td>
<td><p style="font-weight:bold"> Contact Us </p></td>
</tr>
<tr> 
<td><img onclick="javascript:alert('GiftVouchers');" src="../../images/Gift_box_icon.png" alt="Gift Vouchers" style="width:100px; height:100px" /></td>
<td></td>
<td>
<a href="@Url.Action("Search", "Movie")">
<img onclick="javascript:alert('Movie List');" src="../../images/MovieIcon.png" alt="Movie" style="width:100px; height:100px" /></a></td>
<td></td>
<td><img onclick="javascript:alert('Booking History');" src="../../images/bookhistory.png" alt="History" style="width:100px; height:100px" /></td>
</tr>
<tr>
<td><p style="font-weight:bold;"> Gift Vouchers</p></td>
<td></td>
<td><p style="font-weight:bold"> Now Showing</p></td>
<td></td>
<td><p style="font-weight:bold"> Booked History </p></td>
</tr>
</table>
</form>


<div>
<div class="alert alert-info">
  <button class="close" data-dismiss="alert">×</button>
  <strong>Coming soon!</strong> Releasing this week
</div>
<h3> Releasing this week <span class="label label-success"> Coming soon ! </span> </h3>
<iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/cYplvwBvGA4" frameborder="0">
</iframe>
</div>


